<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Airline Club</title>
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/index.css")">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="@routes.Assets.versioned("javascripts/libs/jquery.cookie.js")"></script>
	<script src="@routes.Assets.versioned("javascripts/index.js")"></script>
</head>
<body>

<div id="container">
	<div id="clouds">
		<div class="cloud x1"></div>
		<!-- Time for multiple clouds to dance around -->
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
		<div class="cloud x6"></div>
		<div class="cloud x7"></div>
	</div>
	<div id="logo"></div>
	<div id = "loginform">
			<input type = "image" id = "close_login" src = "@routes.Assets.versioned("images/close.png")">
			<br>
			My Airline To-Do:<br> #1 Log In<br>
			<input type = "text"     id = "loginUserName"    name = "loginUserName"   placeholder = "Username"><br>
			<input type = "password" id = "loginPassword" 	 name = "loginPassword"   placeholder = "Password"><br>
			<div class="button" onclick="login()">Login</div>
			<div id="message"></div>
		</div>
	<div id="links">
		<a href="#" class="myButton" id="show_login">LOGIN</a>
		<a href="#" class="myButton">CREATE ACCOUNT</a>
		<a href="#" class="myButton">TOUR</a>
	</div>

</div>
</body>
</html>